@font-face {
  font-family: 'Lato', sans-serif;
  src: url(../fonts/lato/Lato-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: 'Lato', sans-serif;
  src: url(../fonts/lato/Lato-Bold.ttf);
  font-weight: normal;
}
@font-face {
  font-family: 'Lato', sans-serif;
  src: url(../fonts/lato/Lato-Black.ttf);
  font-weight: normal;
}
@font-face {
  font-family: 'Lato', sans-serif;
  src: url(../fonts/lato/Lato-Italic.ttf);
  font-weight: normal;
}
@font-face {
  font-family: 'Lato', sans-serif;
  src: url(../fonts/lato/Lato-Light.ttf);
  font-weight: normal;
}
@font-face {
  font-family: 'beyno', sans-serif;
  src: url(../fonts/beyno/BEYNO.otf);
  font-weight: normal;
}
