header {
  height: 100vh;
  .head {
    position: relative;
    width: 100%;
    padding: 25px 0 15px 0;
    background-color: #fff;
    transition: 1s ease-out;
    z-index: 100;
    .head_logo {
      a {
        font-family: 'beyno', sans-serif;
        text-decoration: none;
        color: #503392;
        font-size: 30px;
        span {
          color: #009dda;
        }
      }
    }
    .head_menu {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 100%;
      li {
        height: 100%;
        display: inline-block;
        margin: 0 40px;
        font-size: 16px;
        a {
          height: 100%;
          text-decoration: none;
          color: #232323;
          i {
            margin-left: 5px;
          }
        }
      }
      .menu_active {
        font-weight: bold;
      }
      .main-menu_list {
        position: relative;
        .drop_menu, .drop_menu-last {
          position: absolute;
          top: 50px;
          display: none;
          background: rgba(89, 89, 89, .7);
          flex-direction: column;
          padding: 20px 10px;
          border-top: 2px solid #fff200;
          li {
            width: 100%;
          }
          a {
            color: #fff;
            &:hover {
              color: #fff200;
            }
          }
          .drop_menu-item {
            text-align: center;
            width: 10vw;
            margin: 0;
          }
        }
        .drop_menu-last {
          top: 0;
          left: 100%;
          width: 100%;
          a {
            color: #fff;
          }
        }
      }
      label {
        display: flex;
        input {
          border: none;
          outline: none;
          padding: 5px;
          background-color: #e8e4f1;
        }
      }
      button {
        color: #585858;
        margin-left: -35px;
        outline: none;
        padding: 3px 5px;
        background-color: transparent;
        border: none;
      }
    }
    #burger_menu {
      display: none;
    }
  }
  .head_fixed {
    position: fixed;
    transition: .8s ease-out;
  }
  .banner {
    width: 100%;
    height: 100%;
    position: relative;
    .slider {
      height: 100%;
      overflow: hidden;
      position: relative;
      .slick-list {
        height: 100%;
        .slick-track {
          height: 100%;
        }
      }
      button {
        position: absolute;
        top: 50%;
        z-index: 20;
        &:before {
          border-radius: 0;
          font-size: 35px;
        }
      }
      .slick-prev {
        left: 20px;
      }
      .slick-next {
        right: 30px;
      }
      .slick-dots {
        bottom: 55px;
        li {
          button {
            &:before {
              font-size: 15px;
              color: #fff;
            }
          }
        }
      }
      img {
        height: 100%;
        width: 100%;
      }
    }
    .banner_content {
      position: absolute;
      top: 0;
      z-index: 10;
      width: 100%;
      height: 100%;
      opacity: .8;
      //background: linear-gradient(107deg, rgba(52,203,245,.8) 30%, rgba(109,132,215,.8) 35%, rgba(123,92,174,.8) 42%);
      background: url("../img/overlay.png");
      text-align: center;
      .dots {
        .dot {
          display: inline-block;
          height: 10px;
          width: 10px;
          margin: 5px;
          border: none;
          background-color: #bbb;
          border-radius: 50%;
          z-index: 100;
          cursor: pointer;
          outline: none;
          &:focus {
            background-color: #fff;
            transition: .5s ease-out;
          }
        }
      }
      .banner_title {
        z-index: 100;
        width: 60%;
        margin: 0 auto;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #fff;
        h1 {
          font-weight: bold;
          font-size: 64px;
          text-transform: uppercase;
          margin-bottom: 45px;
          span {
            color: #fff200;
          }
        }
      }
    }
  }
}