@media (max-width: 600px) {
  header {
    .head {
      .head_menu {
        .main-menu_list {
          #drop_menu-last {
            width: 80%;
            left: -95px;
          }
        }
      }
    }
  }

}
@media (max-width: 768px) {
  header {
    .head {
      #head_menu {
        display: flex;
        width: 100%;
        left: 0;
        label {
          display: none;
        }
        nav {
          width: 100%;
          ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            z-index: -5;
            li {
              text-align: center;
              height: 100%;
              width: 100%;
              .drop_menu {
                display: none;
                background: rgba(89, 89, 89, 0.7);
                z-index: 5;
                top: 0;
                right: 65px;
                width: 30%;
                .drop_menu-last {
                  display: none;
                  width: 60%;
                  background: rgba(89, 89, 89, .7);
                }
              }
            }
          }
        }
      }
    }
    .banner {
      .banner_title {
        h1 {
          margin-top: 135px;
        }
      }
    }
  }
  #choose {
    .cards {
      align-items: center;
      justify-content: center;
    }
  }
  footer {
    .getInTouch {
      .map {
        .map_frame {
          display: none;
        }
        .dark_fon {
          top: 20em;
        }
        .form {
          .inputs {
            flex-wrap: wrap;
            label, input {
              width: 100%;
            }
          }
        }
      }
    }
  }
  #aboutUs {
    .ipad {
      img {
        margin: 0 auto;
      }
    }
  }
}
@media (max-width: 1024px) {
  header {
    position: relative;
    .head {
      z-index: 100;
      .head_menu {
        width: 100%;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 80px;
        top: 65px;
        left: -75px;
        background-color: #fff;
        transform: translateY(-50%);
        opacity: 0;
        transition: .8s ease-out;
        z-index: 1;
        button, .head_search {
          display: none;
        }
        li {
          margin: 10px;
        }
        .nav {
          .main-menu_list {
            .drop_menu {
              top: 220%;
            }
          }
        }
      }
      .head_menu-active {
        transform: translateY(0%);
        opacity: 1;
        transition: .8s ease-out;
      }
      .burger {
        #burger_menu {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          position: absolute;
          top: 25px;
          right: 5%;
          width: 25px;
          height: 25px;
          background: none;
          border: none;
          outline: none;
          z-index: 2;
          perspective: 1000px;
          cursor: pointer;
          span {
            margin-top: 5px;
            background-color: #000;
            width: 25px;
            height: 1.5px;
            display: block;
            z-index: 0;
            transition: .8s ease-out;
          }
        }
      }
      .burger-active {
        span {
          &:first-child {
            transform-origin: right;
            transform: rotate(-35deg);
            transition: .8s ease-out;
          }
          &:nth-child(2) {
            opacity: 0;
          }
          &:last-child {
            transform-origin: right;
            transform: rotate(35deg);
            transition: .8s ease-out;
          }
        }
      }
    }
  }
}
@media (max-width: 1200px) {
  #choose {
    .cards {
      flex-wrap: wrap;
    }
  }
}